<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="./logs" />
	<property resource="application.properties" />
	<contextName>${spring.application.name}</contextName>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %msg%n </pattern>
		</encoder>
	</appender>



	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/splunk.log</file>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%msg</pattern>
		</layout>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOGS}/archived/splunk-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>


	<appender name="socket" class="com.splunk.logging.TcpAppender">
		<RemoteHost>127.0.0.1</RemoteHost>
		<Port>15000</Port>
		
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%msg</pattern>
		</layout>
		
	</appender>


	<!-- LOG everything at INFO level -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- LOG "splunk.logger*" at INFO level -->
	<logger name="splunk.logger" level="info" additivity="false">
		<appender-ref ref="RollingFile" />
	</logger>

	<logger name="splunk.logger" additivity="false" level="INFO">
		<appender-ref ref="socket" />
	</logger>


</configuration>